<div class="container mt-s">
    <h2>List of employees</h2>
    <a routerLink="employee/add/0" href="C:\angulartp\task2\src\app\pages\employee\edit\edit.component.html"
        class="btn btn-primary mt-3">Add employee</a>
    <table class="table">
        <thead>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td><a href="C:\angulartp\task2\src\app\pages\employee\edit\edit.component.html">Edit</a></td>
                <!--<td><button (click)="onDelete(employee.id)">x</button></td>-->
            </tr>
        </tbody>
    </table>
</div>